*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;   
}
/* 
themes
    height: 1000px;
    width: 1000px;
    background: rgb(186,157,191);
    background: -moz-linear-gradient(201deg, rgba(186,157,191,1) 0%, rgba(3,2,20,1) 0%, rgba(25,17,85,1) 52%, rgba(186,157,191,1) 100%);
    background: -webkit-linear-gradient(201deg, rgba(186,157,191,1) 0%, rgba(3,2,20,1) 0%, rgba(25,17,85,1) 52%, rgba(186,157,191,1) 100%);
    background: linear-gradient(201deg, rgba(186,157,191,1) 0%, rgba(3,2,20,1) 0%, rgba(25,17,85,1) 52%, rgba(186,157,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ba9dbf",endColorstr="#ba9dbf",GradientType=1); 
    overflow: hidden;
    background: rgb(186,157,191);
    background: -moz-linear-gradient(201deg, rgba(186,157,191,1) 0%, rgba(3,2,20,1) 0%, rgba(76,74,91,1) 50%, rgba(186,157,191,1) 100%);
    background: -webkit-linear-gradient(201deg, rgba(186,157,191,1) 0%, rgba(3,2,20,1) 0%, rgba(76,74,91,1) 50%, rgba(186,157,191,1) 100%);
    background: linear-gradient(201deg, rgba(186,157,191,1) 0%, rgba(3,2,20,1) 0%, rgba(76,74,91,1) 50%, rgba(186,157,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ba9dbf",endColorstr="#ba9dbf",GradientType=1);
     */

:root{
  --bg-color : #0c1027;
}

body{
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
    background-color: var(--bg-color); 
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
}

.header{
    height: 5rem;
    width: auto;
    color: white;
    position: sticky;
    margin-bottom: 1em;
    
}
.inner-head{
    height: 5rem;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-name{
    font-size: 1.5em;
}
#logo-image{
    transform: translateX(-1em);
}
.search-bar{
    display: flex;
    width: 600px;
    justify-content: end;
}
.search-bar .form-bar{
    width: 350px;
    height: 2.5em;
    border: none;
    border-radius: 25px;
    padding-left: 1.5em;
    flex-shrink: 3;
    background-color: #151d46;
    color: whitesmoke;
    font-weight: 550;
    font-size: 1em;
}
.search-bar .form-bar:focus{
    width: 600px;
    border: none;
    background-color: whitesmoke;
    color: var(--bg-color);
}
.search_button{
    margin-left: -2.5em;
    
}
.fa-search{
    color: rgb(204, 204, 204);
    color: whitesmoke;
}
.bell-icon{
    margin-left: 2em;
    align-self: center;

}
#profile-image{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


/* Main content - Artist Page */

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.artist-main{
    
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: end;
}
.artist{
    background-image: url("https://wallpaperaccess.com/full/1352079.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    padding-left: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}
#artist-name{
    font-size: 3em;
    font-weight: 900;
    letter-spacing: -0.06em;
    margin: 0;
    line-height: 2em;
}
.play{
    margin-top: 2em;
}
#play-button{
    padding: 1em;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color:#ff2768;
    border: none;
    
}
.artist-detail{
    font-weight: normal;
    font-size: 1.2rem;
}

.left-aside{
    width: 15%;
    border: 1px red solid;
}
.right-aside{
    width: 15%;
    border: 1px red solid;
}