* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scrollbar-width:none; /* to hide the scrollbar but still retain functionality (for Mozilla) */
}

::-webkit-scrollbar {
  width: 0px; /* Hide scrollbar for Chrome, Safari, and Opera */
}

body {
  font-family: "DM Sans", sans-serif;
  transition: background 0.4s ease-in;
  box-sizing: border-box;
  background-color: var(--dark-purple);
  overflow-x: hidden;
  overflow-y: scroll;
}

input[type="text"] {
  font-family: "DM Sans", sans-serif;
}

:root {
  --dark-purple: #0c1027;
  --light-color: #151d46;
}


/*
CSS Flexbox Attributes:
justify-content - set spacing along the main axis
align-self - align along the cross axis (used for individual div)
align-items - align along the cross axis(used for all elements in that flexbox)

*/

/* *HEADER */

.header {
  width: 100%;
  height: 5em;
  display: block;
  position:sticky;
  top:0;
  background-color: var(--dark-purple);
  z-index:10;
}

.inner_header {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1em;
  background-color: var(--dark-purple);
  flex-wrap: nowrap;
  align-items: center;
}

.logo_container {
  /* height: 50%; */
  display: flex;
  /* align-self: flex-start; */
  flex-direction: row;
  justify-content: center;
  /* margin: 2%; */
  color: white;
  /* max-width: 15%; */
  /* left:0; */
  /* position:fixed; */
  align-items: center;
}

.logo_container img {
  /* margin-right: 0.5rem; */
  height: 70px;
  width:70px;
  z-index: 0;
}

.logo_name{
  font-size: 2em;
}



.circular_square {
  border-radius: 50%;
  max-height: 100%;
}

.profile {
  margin: 2%;
  display: inline;
  height: 50%;
  margin: 2%;
  
}

.search_bar {
  background: #151d46;
  border-radius: 25px;
  padding-right:1em;
  /* padding-left:1em; */
  /* padding: 1%; */
  display: flex;
  justify-content: end;
  /* position: fixed; */
  /* left:35vw; */
  width: 25em;
  height: 2.5em;
  
}

.search_button {
  color: rgba(255, 255, 255, 0.849);
  float: right;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left:-2.5em; */
}

.search_text {
  border: none;
  color: whitesmoke;
  width: 90%;
  /* height:2.5em; */
  background-color: #151d46;
  border-radius:25px;
  flex-shrink: 3;
  padding-left:1.5em;
  /* font-weight:550; */
  font-size: 1em;
}

/* *MAIN PAGE */

input[type="radio"] {
  display: none; /* this makes the images appear as the user clicks on themC*/
}

#main_page{
  top:5em; /*so that when we scroll it goes under the header */
  display: flex;
}

/* *LEFT ASIDE (15%) */
.left_aside{
  width:15vw;
  position:fixed;
  float:left;
  height: 100vh;
  box-sizing: border-box;
  /* border: 1px red solid; */
  padding: 1em;
  color: white;
  overflow-y: scroll;
}

.left{
  display: block;
}
.link-btn a{
  text-decoration: none;
  color: white;
  padding-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-btn li{
  display:flex;
  margin-bottom: 0.5em;
  max-height: 2.5em;
  
}

.left-icon-text{
  align-self: center;
  line-height: 1em;
  position: relative;
  top:-0.25em;
}

.link-btn li:hover{
  background-color: var(--light-color);
  border-radius: 5px;
}

.left-icon{
  padding: 0 0 0 1em;
  padding-right:0;
}
.link-btn .material-icons{
  width: 2em;
  height: 2em;
  padding-top: 0.5em;
  
}
.left-playlist{
  display: flexbox;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: "DM Sans", sans-serif;
}
.create-playist{
  display: flex;;
  /* padding-top: 1em;
  padding-bottom: 1em; */
  background-color: var(--bg-color);
  color: whitesmoke;
  border: none;
  font-size: 1em;
  width:100%;
  text-align: left;
  flex-wrap: wrap;
  
}
.create-playist:hover{
  background-color: var(--light-color);
  border-radius: 5px;
}




/* *MAIN CONTENT (60%) */
.main_content {
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:1em;
  margin-left: 15vw;
  max-width: 60vw;
  height: 100%;
  /* border: 1px solid red; */
  box-sizing: border-box;
}

.carousel {
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  display: inline;
  margin-left: 7.5%;
  margin-bottom:2.5em;
  max-width: 60vw;
  height: 40vh; /*!CHANGE THIS ACCORDING TO SCREEN SIZE*/
  padding:1em;
  /* border: 1px solid yellow; */
}

.card {
  transition: transform 0.4s ease;
  /* border: 1px solid yellow; */
  cursor: pointer;
  position: absolute;
  align-self: center;
  width: 75%;
}

.cards {
  margin-bottom: 1rem;
  width: 60vw;
  height: 100%;
  position: relative;
}

.cards img {
  max-height: 15rem;
  width: 100%;
  border-radius: 1em;
  object-fit: cover;
}

/* if item-1 is checked, then song-3 will go to left and song-2 will go to right
if item-2 is checked, then song-1 will go to left and song-3 will go to right
if item-3 is checked, then song-2 will go to left and song-1 will go to right
   */
#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-20%) scale(0.8);

  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(20%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

/* The item which is checked will be in the foreground and others will be 
scaled to 0.8 times their original size */

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  transform: translateY(0) scale(1);
  opacity: 1;
  z-index: 1;
}
img {
  box-shadow: 0 0 1% 0 rgba(81, 81, 81, 0.47);
}

.uniquely_yours{
  /* border: 1px red solid; */  
  height:40%;
  /* display:flex; */
  color: white;
  padding:1.5%;
}

.body_heading{
  font-weight: 500;
  font-size: 1.75em;
  display: block;
}


/* *QUEUE (RIGHT ASIDE) (15%) */

.queue{
  /* border: 1px solid red; */
  width:25vw;
  position:fixed; /* so that only inside content scrolls */
  float:right;
  height: calc(100vh - 5em);
  right:0;
  display: inline;
  padding:1em;
  color:white;  
}

#queue_contents{
  position:relative;
  overflow-y: scroll;
  /* border: 1px solid green; */
  height:calc(100% - 5rem); /* height of scrollable area, have to subtract the height of queue heading */
}

.queue_heading{  
  font-weight: bold;
  font-size:2rem;
  margin-bottom:4%;
  position: sticky;
}

.queue_item{
  padding:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  margin-bottom:5%;  
}

.queue_number{
  margin-right: 1em;
  width:1em;
}

#queue_img{
  max-height:3.5em;
  max-width:3.5em;
  margin-right:1em;
}

.queue_song{
  margin-right:1em;
  width:50%;
  font-size: 0.85em;
}


